
<demo #demo [hasNg2]="false">
   <div class="title">Alert Component</div>
   <div class="desc">
      Simple dynamic alert using css visibility so content doesn't jump around. The close button you have to wire up to yourself, i.e. they don't do it for you. The second version does an ngIf thing as an alternative. Ng2 has globally configured defaults, you set via their NgbAlertConfig service.
   </div>
</demo>
<ng-alert *ngIf="demo.ngShow"></ng-alert>
<ng2-alert  *ngIf="demo.ng2Show"></ng2-alert>
