<demo #demo>
  <div class="title">accordion</div>
  <div class="desc">
    ng you have to click link to open/close whereas ng2, whole div opens/closes (better).
  </div>
</demo>

<div  *ngIf="demo.ngShow || demo.ng2Show">

  <div class="form-group">
    <label>one panel at a time: <input id="onePanel" type="checkbox" [(ngModel)]="onePanel"></label>
  </div>

  <div class="form-group">
    <label>toggle panel:</label>
    <select [(ngModel)]="selectedPanel" style="width:100px; display: inline-block; margin-right:20px;">
      <option *ngFor="let panel of panels">{{panel.id}}</option>
    </select>
    <button class="btn" (click)="toggle(selectedPanel)">toggle</button>
    <button class="btn" (click)="disable(selectedPanel)">enable/disable</button>
    <br>
  </div>

</div>
<br>

<ng-accordion #ngAccord *ngIf="demo.ngShow" [panels]="panels" [onePanel]="onePanel"></ng-accordion>
<!--
<ng2-accordion #ng2Accord  *ngIf="demo.ng2Show" [onePanel]="onePanel"></ng2-accordion>
-->
