


.buttons {
   margin: 20px 0 38px 0;

   button, button:active {
      outline: none !important;
   }

   button:first-of-type {
      margin-right: 13px
   }
}

.no-buttons {
   margin-top: 20px;
}
