
<demo #demo>
  <div class="title">dropdown</div>
  <div class="desc">
    ng dropdown has a funky thing you have to do to get a manual open: $event.stopPropagation() on the button you hit. It's because they can't distinguish that button click from any other document click used to close the menu. They have a special case for thier NgbDropdownToggle directive button, but there's only one of those allowed and it must be a child of the NgbDropDown element. The workaround is easy enough, just not documented why you have to do that is all. Miss it and the external button won't work as it simply closes the menu as all external clicks will do, whether open or not.
  </div>
</demo>
<div class="dk-settings" *ngIf="demo.shown">
  <!--not sure what this stopPropagation does, but ng wont' work without it, they use it in their examples-->
  <button class="btn" id="mybut1" (click)="$event.stopPropagation(); toggle = !toggle" [attr.stuff]="'lala'">toggle dropdown</button>
</div>

<ng-dropdown *ngIf="demo.ngShow" [toggle]="toggle"></ng-dropdown>
<ng2-dropdown  *ngIf="demo.ng2Show" [toggle]="toggle"></ng2-dropdown>
