<demo #demo>
  <div class="title">modal</div>
  <div class="desc">
    Both have template modals which are useless, but both have capabilities of showing a modal on the fly and receiving an async response. ngmodal takes a size option, but can just put that in the modal template, so not needed. Pushed boilerplate code to a modal base class which simplifies things considerably for ng2modal, but little for ngmodal. There was a lot of work required to get ng2modal up and running like a component. Once done I guess they're somewhat equivalent, but ngmodal's service to open a component modal is by far superior.
  </div>
</demo>

<div  *ngIf="demo.ngShow || demo.ng2Show">
  <fieldset>
    <legend>options</legend>
    <ul class="list-unstyled">
      <li>
        <span class="prop">backdrop:</span>
        <label><input type="radio" [(ngModel)]="backdrop" name="backdrop" [value]="true"> true</label>
        <label><input type="radio" [(ngModel)]="backdrop" name="backdrop" [value]="false"> false</label>
        <label><input type="radio" [(ngModel)]="backdrop" name="backdrop" value="static"> static</label>
      </li>
      <li>
        <span class="prop">keyboard:</span>
        <label><input type="radio" [(ngModel)]="keyboard" name="keyboard" [value]="true"> true</label>
        <label><input type="radio" [(ngModel)]="keyboard" name="keyboard" [value]="false"> false</label>
      </li>
      <li *ngIf="demo.ngShow">
        <span class="prop">size:</span>
        <label><input type="radio" [(ngModel)]="options.size" value="sm"> small</label>
        <label><input type="radio" [(ngModel)]="options.size" [value]="undefined"> default</label>
        <label><input type="radio" [(ngModel)]="options.size" value="lg"> large</label>
      </li>

    </ul>
  </fieldset>

  <span class="prop"><button (click)="openModal()">open modal</button></span>
  <label><input type="checkbox" [(ngModel)]="options.closeIn2" value="close"> close in 2 sec</label>
</div>

<ng2-modal #ng2Modal [options]="options"></ng2-modal>


