
.leftnav {
  padding: 10px;
  margin-top: 28px;

  .separator {
    width: 120px;
    display: inline-block;
    margin-bottom: 6px;
  }
}

.main {
  padding-top: 15px;
}

/*
// the only one that worked on ng component modal
:host /deep/ .modal-content {
   color: red;
   background: tan;
}
*/

