<template ngbModalContainer></template> <!--needed for ng-bootstrap modal-->

<div class="row">

   <div class="col-sm-3 leftnav">

      <ul class="nav">
         <li *ngFor="let comp of bootComps"><a href="javascript:void(0)" (click)="selectedComp = comp.type">{{comp.name}}</a></li>
      </ul>

      <div><hr class="separator"></div>

      <ul class="nav">
         <li *ngFor="let comp of myComps"><a href="javascript:void(0)" (click)="selectedComp = comp.type">{{comp.name}}</a></li>
      </ul>

   </div>

   <div class="col-sm-9 main">

      <demo-current [comp]="selectedComp"></demo-current>

   </div>
</div>

