
<demo #demo>
  <div class="title">Alert Component</div>
  <div class="desc">
    Simple dynamic alert using css visibility so content doesn't jump around. The close button you have to wire up to yourself, i.e. they don't do it for you. The second version does an ngIf thing as an alternative. Ng2 has globally configured defaults, you set via their NgbAlertConfig service.
  </div>
</demo>

<div  *ngIf="demo.ngShow || demo.ng2Show">
  <fieldset>
    <legend>options</legend>
    <ul class="list-unstyled">
      <li>
        <span class="prop">backdrop:</span>
        <label><input type="radio" [(ngModel)]="options.backdrop" [value]="true"> true</label>
        <label><input type="radio" [(ngModel)]="options.backdrop" [value]="false"> false</label>
        <label><input type="radio" [(ngModel)]="options.backdrop" [value]="'static'"> static</label>
      </li>
      <li>
        <span class="prop">keyboard:</span>
        <label><input type="radio" [(ngModel)]="options.keyboard" [value]="true"> true</label>
        <label><input type="radio" [(ngModel)]="options.keyboard" [value]="false"> false</label>
      </li>
      <li>
        <span class="prop">size:</span>
        <label><input type="radio" [(ngModel)]="options.size" value="sm"> small</label>
        <label><input type="radio" [(ngModel)]="options.size" [value]="undefined"> default</label>
        <label><input type="radio" [(ngModel)]="options.size" value="lg"> large</label>
      </li>
      <li>
        <span class="prop">windowClass:</span>
        <input [(ngModel)]="options.windowClass" placeholder="Try dankred">
      </li>

    </ul>
  </fieldset>

  <span class="prop"><button (click)="openModal()">open modal</button></span>
  <label><input type="checkbox" [(ngModel)]="options.closeIn2" value="close"> close in 2 sec</label>
</div>



