
<fieldset>
   <legend>options</legend>
   <ul class="list-unstyled">
      <li>
         <span class="prop">backdrop:</span>
         <label><input type="radio" [(ngModel)]="options.backdrop" [value]="true"> true</label>
         <label><input type="radio" [(ngModel)]="options.backdrop" [value]="false"> false</label>
         <label><input type="radio" [(ngModel)]="options.backdrop" [value]="'static'"> static</label>
      </li>
      <li>
         <span class="prop">keyboard:</span>
         <label><input type="radio" [(ngModel)]="options.keyboard" [value]="true"> true</label>
         <label><input type="radio" [(ngModel)]="options.keyboard" [value]="false"> false</label>
      </li>
      <li>
         <span class="prop">size:</span>
         <label><input type="radio" [(ngModel)]="options.size" value="sm"> small</label>
         <label><input type="radio" [(ngModel)]="options.size" [value]="undefined"> default</label>
         <label><input type="radio" [(ngModel)]="options.size" value="lg"> large</label>
      </li>
      <li>
         <span class="prop">windowClass:</span>
         <input [(ngModel)]="options.windowClass" placeholder="Try dankred">
      </li>

   </ul>
</fieldset>

<span class="prop"><button (click)="openModal()">open modal</button></span>
<label><input type="checkbox" [(ngModel)]="closeIn3" value="close"> close in 3 sec</label>
<label><input type="checkbox" [(ngModel)]="dismissIn3" value="dismiss"> dismiss in 3 sec</label>
